<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <context-param>
        <param-name>jakarta.faces.application.ProjectStage</param-name>
        <!-- Con esto le decimos al servidor que es una app en desarrollo -->
        <param-value>Development</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <session-config>
        <!-- Gestiona el tiempo de las sesiones inactivas -->
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Lista de páginas de bienvenida -->
    <welcome-file-list>
        <welcome-file>/usuarios.xhtml</welcome-file>
    </welcome-file-list>

</web-app>